body {
	margin: 0;
	height: 100%;
	background-color: #1d1d1d;
	font-family: 'Roboto';
	min-width: 800px;
	animation: ani 1s forwards;
	animation-timing-function: cubic-bezier(0.69, -0.24, 0.99, 0.99);
}
html {
    margin: 0;
    height: 100%;
}
.img {
	width: 60%;
	height: auto;
	display: block;
	margin: 0 auto;
	margin-top: 100px;
	border-radius: 60px;
	box-shadow: 0px 7px 13px 4px #111;
	animation: slide1 1s 0.2s both;
	animation-timing-function: cubic-bezier(0.34, 0.33, 0.46, 1.31);
}
p {margin-bottom: 40px;}
a {border-radius: 100%;}
a:focus {outline: 0;-webkit-tap-highlight-color: transparent;-webkit-text-size-adjust: none;-webkit-user-select: none;-webkit-touch-callout: none;}
* {
	-webkit-touch-callout: none;               
	-webkit-text-size-adjust: none;          
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;                 
}
#container {
	display: flex;
	width: 50%;
	height: 120px;
	background: #1b1b1b;
	margin: 0 auto;
	border-radius: 60px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	box-shadow: inset 0px 7px 20px 0px #111;
	animation: squeeze 1.2s forwards;
	animation-timing-function: cubic-bezier(0.24, 0.71, 0.58, 1);
}
#discord {
	width: 80px;
	height: 80px;
	border-radius: 40px;
	user-select: none;
	/* background: #7289DA; */
	outline: none;
	transition: 0.2s;
	box-shadow: inset -4px 4px 8px 0px #ffffff87, -4px 4px 6px 0px #121212;
}
#discord:hover { transform: scale(1.03); } /* при наведении курсора мышки */
#discord:active { /* background: #5b6dae; */transform: scale(0.9); } /* при нажатии */
#youtube {
	width: 80px;
	height: 80px;
	border-radius: 40px;
	user-select: none;
	/* background: #FF0000; */
	outline: none;
	transition: 0.2s;
	box-shadow: inset -4px 4px 8px 0px #ffffff87, -4px 4px 6px 0px #121212;
}
#youtube:hover { transform: scale(1.03); }
#youtube:active { /* background: #80261f; */transform: scale(0.9); }
#telegram {
	width: 80px;
	height: 80px;
	border-radius: 40px;
	user-select: none;
	/* background: #2AABEE; */
	outline: none;
	transition: 0.2s;
	box-shadow: inset -4px 4px 8px 0px #ffffff87, -4px 4px 6px 0px #121212;
}
#telegram:hover { transform: scale(1.03); }
#telegram:active { /* background: #1390d4; */transform: scale(0.9); }
#container{overflow:hidden;}
#main div{
	justify-content:space-evenly;
	float:left;margin:0 20px 0 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#mainbuttoms {
	animation: slide2 1s 0.2s both;
}

#ds {
	transform: scale(0.07);
	transform-origin: center;
}
#yt {
	transform: scale(0.07);
	transform-origin: center;
}
#tg {
	transform: scale(0.07);
	transform-origin: center;
}

#pashalka1 {
	color: #1d1d1d;
	text-decoration: overline;
	margin-left: auto;
	margin-right: auto;
	width: 6em;
	vertical-align: bottom;
}
#pashalka2 {
	-webkit-user-select: none;
	color: #21212185;
	vertical-align: bottom;
	margin: initial;
}
@keyframes ani {
  0% {opacity: 0;}
  to {opacity: 1;}
}
@keyframes slide1 {
  0% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes slide2 {
  0% {
    transform: translateY(130px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes squeeze {
  0% {
	width: 90%;
  }
  30% {
	width: 90%;
  }
  100% {
	width: 50%;
  }
}

@media screen and (max-device-height: 870px) {
	.img {margin-top: 0px !important; width: 55% !important;}
	p {margin-bottom: 25px !important;}
	#container {
		display: flex !important;
		width: 70%;
		height: 90px !important;
	}
	#discord {
		width: 60px !important;
    		height: 60px !important;
    		border-radius: 30px !important;
	}
	#youtube {
		width: 60px !important;
    		height: 60px !important;
    		border-radius: 30px !important;
	}
	#telegram {
		width: 60px !important;
    		height: 60px !important;
    		border-radius: 30px !important;
	}
	#ds {
		transform: scale(0.05) !important;
	}
	#yt {
		transform: scale(0.05) !important;
	}
	#tg {
		transform: scale(0.05) !important;
	}
}

@media handheld and (orientation: portrait) {
	a:focus {
		-webkit-text-size-adjust: none !important;
		-webkit-user-select: none !important;
		-webkit-touch-callout: none !important;
	}
	.img {
		width: 90% !important;
		margin-top: 30% !important;
		animation: slide1 1s 0.2s both !important;
	}
	#container {
		display: flex !important;
		width: 70%;
		height: 200px !important;
	}
	#discord {
		width: 8em !important;
		height: 8em !important;
		border-radius: 65px !important;
	}
	#youtube {
		width: 8em !important;
		height: 8em !important;
		border-radius: 65px !important;
	}
	#telegram {
		width: 8em !important;
		height: 8em !important;
		border-radius: 65px !important;
	}
	#main div{
		margin:0 40px 0 40px !important;
	}
	#ds {
		transform: scale(0.11) !important;
	}
	#yt {
		transform: scale(0.11) !important;
	}
	#tg {
		transform: scale(0.11) !important;
	}
	#knopka1 {
		margin: auto 0 auto 0 !important;
		font-size: 3em !important;
	}
	@keyframes squeeze {
		30% {
			width: 90% !important;
		}
		100% {
			width: 70% !important;
		}
	}
	#qiwi {
		height: 90px !important;
		margin: 5% !important;
		border-radius: 45px !important;
	}
	#qw {
		transform: scale(0.8) translateY(6px) translateX(6px) !important;
	}
	#qwtext {
		display: flex !important;
		align-items: center !important;
		color: #fff !important;
		font-size: 2.2em !important;
		font-family: 'Comic Sans MS' !important;
		margin-right: 10px;
	}
}
#qiwi {
	display: inline-flex;
	height: 40px;
	margin: 3%;
	margin-top: 0%;
	background: #1b1b1b57;
	border-radius: 20px;
	box-shadow: 2px 2px 5px 0px #111;
	transition: 0.2s;
}
#qw {
	transform-origin: center;
	transform: scale(0.8) translateY(3px) translateX(3px);
}
#qwtext {margin-right: 10px;}
#qiwi:hover { transform: scale(1.03); }
#qiwi:active { transform: scale(0.9); }
