body {
 background-color: #1d1d1d;
 font-family: 'Roboto';
 min-width: 800px;
}
#img {
	width: 60%;
	height: auto;
	display: block;
	margin: 0 auto;
	margin-top: 100px;
	border-radius: 60px;
	box-shadow: 0px 7px 13px 4px #111;
}
#container {
	display: flex;
	width: 50%;
	height: 120px;
	background: #1b1b1b;
	margin: 0 auto;
	border-radius: 60px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	box-shadow: inset 0px 7px 20px 0px #111;
}
#discord {
	width: 80px;
	height: 80px;
	border-radius: 40px;
	user-select: none;
	/* background: #7289DA; */
	outline: none;
	transition: 0.2s;
	box-shadow: inset -4px 4px 8px 0px #ffffff87, -4px 4px 6px 0px #121212;
}
#discord:hover { transform: scale(1.03); } /* при наведении курсора мышки */
#discord:active { /* background: #5b6dae; */transform: scale(0.9); } /* при нажатии */
#youtube {
	width: 80px;
	height: 80px;
	border-radius: 40px;
	user-select: none;
	/* background: #FF0000; */
	outline: none;
	transition: 0.2s;
	box-shadow: inset -4px 4px 8px 0px #ffffff87, -4px 4px 6px 0px #121212;
}
#youtube:hover { transform: scale(1.03); }
#youtube:active { /* background: #80261f; */transform: scale(0.9); }
#telegram {
	width: 80px;
	height: 80px;
	border-radius: 40px;
	user-select: none;
	/* background: #2AABEE; */
	outline: none;
	transition: 0.2s;
	box-shadow: inset -4px 4px 8px 0px #ffffff87, -4px 4px 6px 0px #121212;
}
#telegram:hover { transform: scale(1.03); }
#telegram:active { /* background: #1390d4; */transform: scale(0.9); }
#container{overflow:hidden;}
#main div{justify-content:space-evenly;float:left;margin:0 20px 0 20px;display: flex;
  justify-content: center;
  align-items: center;}

#ds {
	transform: scale(0.07);
	transform-origin: center;
}
#yt {
	transform: scale(0.07);
	transform-origin: center;
}
#tg {
	transform: scale(0.07);
	transform-origin: center;
}

#pashalka {
	color: #1d1d1d;
	text-decoration: overline;
	margin-left: auto;
	margin-right: auto;
	width: 6em;
	vertical-align: bottom;
}
#pashalka2 {
	-webkit-user-select: none;
	color: #1d1d1d;
	margin-left: auto;
	margin-right: auto;
	vertical-align: bottom;
}
